{% extends 'base.html.twig' %}

{% block body %}
    <div id="barba-wrapper">
        <div class="barba-container">

            {{ render(controller('App\\Controller\\AdminController::navigation')) }}

            <br>
            {% block content %}Here be dragons!{% endblock %}

            <div class="modal" tabindex="-1" role="dialog" id="modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modal title</h5>
                            <button type="button" class="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% block modal_body %}
                            {% endblock modal_body %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Save changes</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}