{% extends 'admin/base.html.twig' %}

{% block content %}
    <div class="ajax-form-wrapper">
        <form action="{{ path('admin_edit', {'segment': segment, 'id': id}|merge(app.request.query.all)) }}"
              method="post"
              novalidate autocomplete="off" class="pjax">

            {{ form_errors(form) }}
            {{ form_rest(form) }}

            <a class="btn btn-danger pjax"
               href="{{ path('admin_list', {'segment': segment}|merge(app.request.query.all)) }}" data-pjax-trigger='["#content"]'>Cancel</a>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
{% endblock %}