{% extends 'admin/base.html.twig' %}

{% block content %}
    <table class="table">
        <tr>
            {% for column in columns %}
                <th>{{ column }}</th>
            {% endfor %}
            <th>Actions</th>
        </tr>

        <tbody>
        {% for entity in pager %}
            <tr>
                {% for column in columns %}
                    <td>
                        {{ attribute(entity, column) }}
                    </td>
                {% endfor %}
                <td>
                    Delete
                    Edit
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    {{ pagerfanta(pager, 'twitter_bootstrap4') }}

    {% if pager.beyondRange %}
        <p class="alert alert-info">
            Total results in database: {{ pager.total|number_format }}
        </p>
    {% endif %}
{% endblock %}